@using Acme.SimpleTaskApp.Products;
@using Acme.SimpleTaskApp.Web.Models.Products
@using static Acme.SimpleTaskApp.Products.Product
@model Acme.SimpleTaskApp.Web.Models.Products.ProductViewModel

@{
  ViewData["Title"] = "Index";
  Layout = "~/Views/Shared/Layout/Customer/_LayoutCustomer.cshtml";
}

@section scripts
{
  <environment names="Development">
    <script src="~/view-resources/Views/HomeCustomer/mainCustomer.js" asp-append-version="true"></script>
    <script src="~/view-resources/Views/Carts/index.js" asp-append-version="true"></script>
    <link href="~/css/style.css" rel="stylesheet" />

  </environment>
}
@await Html.PartialAsync("~/Views/Shared/Layout/Customer/_SliderCustomer.cshtml")
@*       <a asp-action="Index" asp-route-page="1">&laquo</a> *@
@*       @for (int i = 1; i <= Model.TotalPages; i++) *@
@*       { *@
@*         <a asp-action="Index" asp-route-page="@i">@i</a> *@
@*       } *@
@*       <a asp-action="Index" asp-route-page="@Model.TotalPages">&raquo;</a> *@


@await Component.InvokeAsync("ProductList")


@await Component.InvokeAsync("ProductList", new { viewName = "ProductListCategoryIndex" })

