@using Acme.SimpleTaskApp.Web.Views.Shared.Components.CartMenu
@model CartMenuViewModel

<a asp-controller="HomeCustomer" asp-action="Cart" class="nav-link d-flex align-items-center position-relative">
  <div class="position-relative">
    <i class="fas fa-shopping-bag fs-4"></i>
    <span id="cart-count" class="badge bg-danger text-white rounded-circle position-absolute top-0 start-100 translate-middle"
          style="display:@(Model.totalCartItems <= 0 ? "none" : "inline-block"); min-width: 20px; height: 20px; font-size: 12px;">
      @Model.totalCartItems
    </span>
  </div>
  <span class="ms-2">Giỏ hàng</span>
</a>

