@using static Acme.SimpleTaskApp.Products.Product
@model Acme.SimpleTaskApp.Web.Models.Products.ProductViewModel

<div class="abp-advanced-search">
  <form id="ProductSearchForm" class="form-horizontal">
    <div class="input-group">
      <!-- Nút tìm kiếm -->
      <div class="input-group-prepend">
        <button type="button" class="btn bg-blue btn-search">
          <span class="fas fa-search" aria-hidden="true"></span>
        </button>
      </div>
      <input type="text" name="Keyword" class="form-control txt-search" placeholder="Tìm kiếm..." />
    </div>

    @* <div class="input-group mt-2"> *@
    @*   <!-- Dropdown danh mục --> *@
    @*   <div class="input-group-prepend"> *@
    @*     <span class="input-group-text"> *@
    @*       <i class="fa fa-list"></i> *@
    @*     </span> *@
    @*   </div> *@
    @*   <select class="form-control" name="Category"> *@
    @*     <option value="">Chọn danh mục</option> *@
    @*     @foreach (var category in Model.Categories) *@
    @*     { *@
    @*       <option value="@category.Value" selected="@(category.Value == Model.Products.ToString())" category="@category.Value"> *@
    @*         @category.Text *@
    @*       </option> *@
    @*     } *@
    @*   </select> *@
    @* </div> *@
  </form>
</div>
