/* prevent the drop down icon going onto a new line for the top bar language link */
.top-bar-language-nav-link {
    min-width: 65px;
}

/* bootstrap model showing two scroll bars */
html {
    overflow: visible;
}

/* main sidebar not under model */
.modal {
    z-index: 1110;
}

.form-group.required .col-form-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 3px;
}

.nav-user-menu .user-image {
    width: 20px;
    margin-right: 4px;
    margin-top: -4px;
}

.famfamfam-flags {
    display: inline-block;
}
.dataTables_length select.custom-select,
.dataTables_length select.form-control {
  height: 36px !important;
  padding: 0;
  text-align: center;
  width: 50px;
  background-size: 10px !important; /* nhỏ hơn: 8–12px */
  background-position: right 8px center !important;
  padding-right: 26px !important; /* chừa chỗ icon */
}

