@using Acme.SimpleTaskApp.Web.Views.Shared.Components.CategoryList
@model CategoryListViewModel

<div class="col text-center navbar2">
  <ul class="nav nav-pills d-inline-flex text-center position-relative">
    <li class="nav-item">
    </li>

    @foreach (var category in Model.Categories)
    {
      <li class="nav-item category-click-getid" data-id="@category.Id">
        <a href="#" style="padding-right: 24px;"><i class=""></i>@category.Name</a>
      </li>
    }
  </ul>
</div>
